*{
    direction: rtl;
    text-align: right;
    font-family: "b Yekan";
    color:#fff;
    font-size: 18px !important;
}
@font-face
{
    font-family: "b Yekan";
    src: url('/react/f1/build/fonts/BYekan.woff') format('woff');
}
body{
    background-color: #27415d;
}
.wrapper{
    width: 90%;
    margin: 0 auto;
}
.hs-bala {
    border: 1px solid #A1A1A1;
    border-radius: 10px;
}
.hs-big{
    font-size:120% !important;
}